<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-datetime
      class="inputbar-md"
      placeholder="Today ▼"
      displayFormat="DD MMMM YYYY"
      pickerFormat="DD MMMM YYYY"
      min="{{min}}"
      max="{{max}}"
      [(ngModel)]="filter">
      </ion-datetime>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button class="list-button"
      ion-item *ngFor="let reservation of reservations; let i = index;"
      (click)="showReservation(reservation)">
      <ion-grid>
        <ion-row>
          <ion-col col-1 *ngIf="i>0">
            {{reservations[i-1].name}}
          </ion-col>
          <ion-col col-7>
            {{reservation.name}}
          </ion-col>
          <ion-col text-right>
            <small><em>{{reservation.user.login}}</em></small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <small>{{reservation.begin | date:'yMdjm'}} - {{reservation.end | date:'yMdjm'}}</small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  <ion-fab right bottom (click)="newReservation()">
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
