@import "../assets/css/grid12";

.inputbar-md {
  background-color: color($colors, light);
  border-radius: .65rem;
}

.inputbar-md>* {
  color: white !important;
}
.inputbar-md>*::placeholder {
  color: white !important;
}
